<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}

    <div class="totally_not_an_ad" >
        <hr />
        Want me to build your app / consult for your company / speak at your event?  Good news!  I'm an <a href="http://drewcrawfordapps.com">iOS developer for hire</a>.
    </div>

    </div>

<!-- clicky -->
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(96821); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/96821ns.gif" /></p></noscript>

  </body>
</html>
